 /* Ensure container doesn’t overflow */
.cat-slider-container {
  overflow: hidden;
  padding: 0 40px; /* give space for arrows inside */
  position: relative;
}

/* Prevent slick-track from overflowing */
.slick-slider,
.slick-list,
.slick-track {
  overflow: hidden !important;
}

/* Arrows styling */
button.slick-arrow.slick-next {
  right: 10px;  /* keep inside */
  z-index: 50;
}

button.slick-arrow.slick-prev {
  left: 10px;   /* keep inside */
  z-index: 50;
}

.slick-prev:before,
.slick-next:before {
  font-size: 24px;
  color: black;
}
div.text-center.p-2 div{
transition: transform 0.5s ease-in-out;
}

div.text-center.p-2 div:hover{
box-shadow: rgba(0, 0, 0, 0.35) 3px 5px 20px;
transition-timing-function: ease-in-out;

transform: scale(1.1);
}
