.box{
    background-color: rgb(244, 246, 250);
    border-radius: 20px;
}

.pad{
    padding: 20px  20px;
}
.img svg{
    color: green;
    font-size: 40px;
}
.img p {
    opacity: 0.7;
    font-size: 20px;
}
.box-s ul {
    padding: 0px;
}
.box-s ul li{
    list-style: none;
    padding: 10px 0px;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.box-s ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.box-s ul li:hover{
    opacity: 1;
}

.box-s ul li:hover a{
    color: rgb(95, 220, 95);
}

.box-s ul li:hover{
    color: rgb(95, 220, 95);
    transform: translateX(10px);
}
.deco ul li{
    list-style: none;
    padding: 10px 0px;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.deco ul li a{
    text-decoration: none;
    color:darkgreen;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.deco ul li a svg{
font-size: 40px;
}
.deco ul li:hover a{
    color: black;
}


